@charset "utf-8";
.minheight748 {
	min-height: 748px !important;
}
.minheight758 {
	min-height: 758px !important;
}
.minheight460 {
	min-height: 460px !important;
}
.minheight440 {
	min-height: 440px !important;
}
.minheight400 {
	min-height: 400px !important;
}
.minheight250 {
	min-height: 250px !important;
}
.minheight380 {
	min-height: 380px !important;
}
.minheight480 {
	min-height: 480px !important;
}
.minheight595 {
	min-height: 595px !important;
}
.minheight720 {
	min-height: 720px !important;
}
.minheight280 {
	min-height: 280px !important;
}
.minheight290 {
	min-height: 290px !important;
}
.minheight300 {
	min-height: 300px !important;
}